html, body {
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#ddff99;
}
svg {
	position:fixed;
	top:0;
	bottom:0;
	height:100%;
	width:100%;
	pointer-events:none;
}
.centerBox {
	margin:0 auto;
	width:200px;
	padding-top:300px;
	z-index:100;
}